
.modal-open .modal {
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 10px;
  }
  background-color: rgba(255,255,255, 1) !important;
  h4 {
      margin-top: 25px;
      margin-bottom: 60px;
      text-transform: uppercase;
      letter-spacing: .15em;
      font-size: 22px;

    }
  .close_button {
    position: absolute;
    top : 15px;
    right : 55px;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      color: grey;
    }

  }
  .contain_modal {
    padding-left: 400px;
    padding-right: 400px;

  }
  .align_ver {
    height : 100px;
    display: table;
  }
  p {
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
  }
  .img_follow {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}


#general_account {

  li {
    list-style-type:none;
  }
  .account_menu {
    background-color: #FAFAFA;
    width: 25%;
    position: fixed;
    top: 0px;
    padding-top: 90px;

    .picture_account {
      p {
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: .15em;
        font-size: 12px;
      }
    }

    .account_menu_infos {
      ul {
        margin-top: 20px;
      }

      li, p  {
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-size: 12px;
      }
      p {
        font-size: 13px;
      }
    }
    .account_menu_links {
      margin-top: 50px;
      ul {
        padding-left: 0;
      }
      li {
        margin-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: .3em;
        font-size: 12px;

        &:hover {
          color: grey;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .account_contain {
    margin-left: 25%;

    width: 75%;

    #favorite_articles {


      padding-top: 50px;
      h4 {
        text-align : center;
        margin-bottom: 45px;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 15px;
      }
      .favorite_article {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        p {
            text-transform: uppercase;
            letter-spacing: .1em;
            font-size: 11px;
          }
        .hover_card_article {
          position: absolute;

          top: 0;
          display: table;
          width: 100%;
          padding-right: 60px;
          div {
            background-color: rgba(255,255,255,0);
            &:hover {
              background-color: rgba(0,0,0,0.7);
            }
          }
          h4 {
            color: rgba(255,255,255,0);
          }
          &:hover {
            background-color: rgba(0,0,0,0.7);
            h4 {
              text-align : center;
              margin-bottom: 45px;
              text-transform: uppercase;
              letter-spacing: .1em;
              font-size: 15px;
              color: white;
            }
          }
          div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }


        }
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    #favorite_projects {
      display: none;
      padding-top: 50px;
      h4 {
        text-align : center;
        margin-bottom: 45px;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 15px;
      }
      .favorite_project {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        p {
            text-transform: uppercase;
            letter-spacing: .1em;
            font-size: 11px;
          }
        .hover_card_project {
          position: absolute;
          background-color: rgba(255,255,255,0);
          top: 0;
          display: table;
          h4 {
            color: rgba(255,255,255,0);
          }
          &:hover {
            background-color: rgba(0,0,0,0.7);
            h4 {
              text-align : center;
              margin-bottom: 45px;
              text-transform: uppercase;
              letter-spacing: .1em;
              font-size: 15px;
              color: white;
            }
          }
          div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }


        }
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    #my_articles {
      display: none;
      padding-top: 50px;
      h4 {
        text-align : center;
        margin-bottom: 45px;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 15px;
      }
      .my_favorite_article {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        p {
            text-transform: uppercase;
            letter-spacing: .1em;
            font-size: 11px;
          }
        .hover_card_my_article {
          position: absolute;
          background-color: rgba(255,255,255,0);
          top: 0;
          display: table;
          h4 {
            color: rgba(255,255,255,0);
          }
          &:hover {
            background-color: rgba(0,0,0,0.7);
            h4 {
              text-align : center;
              margin-bottom: 45px;
              text-transform: uppercase;
              letter-spacing: .1em;
              font-size: 15px;
              color: white;
            }
          }
          div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }


        }
        img {
          width: 100%;
          object-fit: cover;
        }
      }

    }
    #my_projects {
        display: none;
        padding-top: 50px;
        h4 {
          text-align : center;
          margin-bottom: 45px;
          text-transform: uppercase;
          letter-spacing: .1em;
          font-size: 15px;
        }
        .my_favorite_project {
          position: relative;
          padding-left: 30px;
          padding-right: 30px;
          p {
              text-transform: uppercase;
              letter-spacing: .1em;
              font-size: 11px;
            }
          .hover_card_my_project {
            position: absolute;
            background-color: rgba(255,255,255,0);
            top: 0;
            display: table;
            h4 {
              color: rgba(255,255,255,0);
            }
            &:hover {
              background-color: rgba(0,0,0,0.7);
              h4 {
                text-align : center;
                margin-bottom: 45px;
                text-transform: uppercase;
                letter-spacing: .1em;
                font-size: 15px;
                color: white;
              }
            }
            div {
              display: table-cell;
              vertical-align: middle;
              text-align: center;
            }
          }
          img {
            width: 100%;
            object-fit: cover;
          }
        }
    }
  }
}


// @media screen and (max-width: 1000px) {

// }
// @media screen and (min-width: 1000px) and (max-width: 1300px) {

// }
// @media screen and (min-width: 1300px) and (max-width: 1600px) {

// }
// @media screen and (min-width: 1600px) {

// }
