
#index_article {
  #index-articles-title {
    font-size: 20px;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  #button_profile {
    margin-top: 25px;
    border: 0px solid black;
    padding: 4px 4px;
    color: black;
    font-size: 13px;
    letter-spacing: .1em;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: white;

    &:hover {
      color: grey;
    }
  }
  label {
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  input {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  .form-control {
    height: 30px;
    margin-right: 30px;
  }
  .col-lg-4 {
    img{
      width: 70% !important;
    }

  }



  .vertical-spacer {
    height: 2em !important;
  }
  .link_show_article {
    margin-right: 25px;
  }

  // @media screen and (max-width: 1180px) {

  // }

  @media screen and (max-width: 750px) {
    #article {
      .article_content {
        padding-right: 15px;
        padding-left: 15px;
        p {
          font-style: italic;
          font-size: 20px;
        }
        h4 {
          font-size: 22px;
        }
        .author_picture {
          width: 60px ;
          height: 60px ;
        }
        .author_details {
          p {
            display: inline;
          }
        }
        .articles_index_container_picture {
          margin-top: 30px;
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  @media screen and (min-width: 750px) {
    #index_article {

    }
    #article {

      .article_content {
        padding-right: 60px;
        padding-left: 60px;
        p {
          font-style: italic;
          font-size: 16px;
        }
        h4 {
          font-size: 20px;
        }
        .author_picture {
          width: 60px ;
          height: 60px ;
        }
        .author_details {
          p {
            display: inline;
          }
        }
        .articles_index_container_picture {
          margin-top: 30px;
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
