body {
  background-color: white;
}

#back_link {
  top: 0;
  left: 0;
}

.article_show_content {

  .article_show_content_title {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
#article_show {

  // Liens pour lire les articles ou de retour
  a {
    color: black;
    &:hover {
      color:grey;
    }
  }

  // Bouton du profil, bordure blanche
  #button_profile {
    border: 1px solid black;
    padding: 8px 8px;
    color: black;
    font-size: 20px;

    &:hover {
      color: grey;
      border: 1px solid grey;
    }
  }

  #title {
    margin-bottom: 25px;
  }



  .article_show_writter {
    width: 30%;
    right: 0;
    z-index: 2;
    padding-left: 40px !important;
    padding-right: 40px !important;


    .profile_info_writter {
      margin-top: 40px;
    }

    .article_show_content_text {
      margin-top: 30px;
    }

  }
  .connected_articles {

    .content_connected {
      width: 70%;
      float: left;
    }
    .picture_connected {
      max-width: 30%;
      float: right;
    }
    .cleared {
      clear: both;
    }
  }


}

// 750
// 970
// 1170

@media screen and (max-width: 1000px) {
  #article_show {
    h1 {
      font-weight: bold;
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
    #button_profile {
      font-size: 12px;
    }
    .enterprise_writter {
      p {
        font-size: 14px;
      }
    }
    .connected_articles {
      p {
        font-size: 14px;
      }
    }
    .article_show_content {
      padding-left: 70px;
      padding-right: 70px;
      width: 100%;
      z-index: -2;
    }
    .article_show_writter {
      display: none;

    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px)  {
  #article_show {
    h1 {
      font-weight: bold;
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
    #button_profile {
      font-size: 12px;
    }
    .enterprise_writter {
      p {
        font-size: 14px;
      }
    }
    .connected_articles {
      p {
        font-size: 14px;
      }
    }
    .article_show_content {

      padding-left: 75px;
      padding-right: 75px;
      width: 70%;
      z-index: -2;
      .article_show_picture {
        margin-bottom: 30px;
      }
      .article_show_writter {
        width: 250px;
      }
    }
  }
}

@media screen and (min-width: 1300px) and (max-width: 1600px)  {
  #article_show {
    h1 {
      font-weight: bold;
      font-size: 40px;
    }
    p {
      font-size: 25px;
    }
    #button_profile {
      font-size: 16px;
    }
    .enterprise_writter {
      p {
        font-size: 18px;
      }
    }
    .connected_articles {
      p {
        font-size: 18px;
      }
    }
    .article_show_content {

      padding-left: 140px;
      padding-right: 140px;
      width: 70%;
      z-index: -2;
      .article_show_picture {
        margin-bottom: 30px;
      }
      .article_show_writter {
        width: 300px;
      }
    }
  }
}
@media screen and (min-width: 1600px)  {
  #article_show {
    h1 {
      font-weight: bold;
      font-size: 40px;
    }
    p {
      font-size: 25px;
    }
    #button_profile {
      font-size: 16px;
    }
    .enterprise_writter {
      p {
        font-size: 18px;
      }
    }
    .connected_articles {
      p {
        font-size: 18px;
      }
    }
    .article_show_content {

      padding-left: 170px;
      padding-right: 170px;
      width: 70%;
      z-index: -2;
      .article_show_picture {
        margin-bottom: 30px;
      }
      .article_show_writter {
        width: 300px;
      }
    }
  }
}
