// A retravailler en media queries

#article_new_page {
  margin-right: 300px;
  margin-left: 300px;
}


#back_link_2 {
  border: 1px solid grey;
  padding: 5px 5px;
  color: grey;
  font-size: 17px;
  margin-left:20px !important;
  &:hover {
    color: black;
    border: 1px solid black;
  }
}


// <!--   <%= link_to "DELETE", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %> -->
