// A retravailler en media queries

#article_new_page {
  margin-right: 300px;
  margin-left: 300px;
}


#back_link_2 {
  border: 1px solid grey;
  padding: 5px 5px;
  color: grey;
  font-size: 20px;
  margin-left:20px !important;
  &:hover {
    color: black;
    border: 1px solid black;
    background-color: white !important;
  }
}

 #input_validate {
    border: 1px solid black;
    padding: 8px 8px;
    color: black;
    font-size: 12px;
    background-color: white;

    &:hover {
      color: grey;
      border: 1px solid grey;
    }
  }
// <!--   <%= link_to "DELETE", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %> -->



// Nouveau menu*

.menu-medium {
  img {
    margin-left: 50px;
  }
  margin-top: 10px;
  margin-bottom: 10px;
  .ul-menu {
    width: 80% !important;
  }
  .menu-position {

    .menu-left {
      margin-top: 17px;
      li {
        display: inline;
        a {
        }
      }
    }
    .menu-right {
      margin-top: 17px;
      li {
        display: inline;

        a {
        }
      }
    }
  }
}

  // .menu-clear{
  //   clear: both;


