// Gestion des alertes flash

#alert_flash {
  margin-left: 0px ;
  margin-right: 0px;
  width: 100%;
  .alert {
    text-align: center;
  }
}

#banner{
  background: image-url('image-homepage.jpg');
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(5, 5, 5, 0.49)), url(/assets/image-homepage-9e26e29343772aeda9441824c23a313ebf2445b98ff2a40e599de7ff979ddae4.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
  padding: 150px;
  padding-top: 200px;
  height: 650px;

  p {
  font-size:25px;
  font-weight: 100;
  }
  h1 {
    font-size: 65px;
  }
}


.card-white {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 1px 1px 2px #E2D9D9;
  background: white;
  border-radius: 2px;

}
#features{
  background-size: cover;
  background-position: bottom;
  padding: 240px;
  color: white;
  padding: 150px;
  padding-top: 100px;
  height: 650px;

  p {
  font-size:25px;
  font-weight: 100;
  }
  h1 {
    font-size: 65px;
  }
}

.btn-margin{
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-black{
  font-size: 20px;
  font-weight: 100;
}

#features {
  background-color:#EDEFED;
  color: #1B1717;
  padding: 80px;
  border: 30px

}

.img-circle {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
}


.text-black {
color:#736C6C;
}

.text-white {
  color: white;
}


.center_view_devise {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.form-inputs {
  margin-top: 30px;
}

#search_home {
  margin-top: 25%;
}

.padding-top-down{
  padding-top: 36px;
  padding-bottom:36px;
}

.big-font{
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: .3em;
}
