
#relative{
  background-image: image-url('background_profile.jpg');
  background-size: cover;
  height: 150px;
  position: relative;

}

#absolute{
  height:50px;
  position:absolute;
  width:50px;
  left:46%;
  bottom: 2px;
}

#description {
  margin-top: 30px;
  font-size: 18px;
}

.img-uniform-size{
    height: 100px;
    resize: horizontal;
    overflow: auto;
}

.text-underline {
  color: #333333;
  font-size: 18px;
  &:hover {
    color: grey;
  }
}

.center-block{
  width: 200px;
  margin: 0 auto;
}

.margin-top-50px {
  margin-top: 50px;
}




