
#relative{
  background-image: image-url('background_profile.jpg');
  background-size: cover;
  height: 150px;
  position: relative;

}

#absolute{
  height:50px;
  position:absolute;
  width:50px;
  left:46%;
  bottom: 2px;
}

#description {
  margin-top: 30px;
  font-size: 18px;
}

.img-uniform-size{
    height: 100px;
    resize: horizontal;
    overflow: auto;
}



.text-underline {
  color: #333333;
  font-size: 18px;
  &:hover {
    color: grey;
  }
}

.center-block{
  width: 200px;
  margin: 0 auto;
}

.margin-top-50px {
  margin-top: 50px;
}

.block-divider {
  width: 100%;
  border-top: 1px solid #CBC5C5;
  margin-top: 110px;
  position: relative;
}



.title{
  position:absolute;
  left:46%;
  margin: -11px 0 11px;
  background: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px 8px 2px 12px;
  letter-spacing: .3em;
}

.card-shadowed{
box-shadow: 1px 1px 1px #F3E4E4;
margin-top: 50px;
}

