<h1 class="text-center">Tournesol Microgrids</h1>
<div class="text-center block-divider">
  <h2 id="team" class="title">The team</h2>
  <div class="padding-top-down">
    3 co-foundors
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div>
          <%= image_tag "http://placehold.it/200x100"%>
          <h3> Stan </h3>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div>
          <%= image_tag "http://placehold.it/200x100"%>

          <h3> Boutayna </h3>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div >
          <%= image_tag "http://placehold.it/200x100"%>
          <h3> Arthur </h3>
        </div>
      </div>
    </div>
    </div>
</div>

<div class="text-center block-divider">
  <h2 id="mission" class="title">The Mission</h2>
</div>

<div class="text-center block-divider">
  <h2 id="plateform" class="title">The plateform</h2>
</div>



