<div class="background-image-about text-center title-big">
  Tournesol Microgrids
</div>
<div class="block-divider">
  <div class="card padding-top">
  <h2 id="association" class="title text-center ">The Association</h2>
    <p> Tournesol Microgrids is a french association that strives to create a community of experts in order to achieve 3 main goals :
      <ul class="list-unstyled">
        <li class="padding-top2 text-center"><strong>To Study</strong></li>
        To discover and discuss the key success factor of Microgrid projects
        <br>
        <li class="padding-top2 text-center"><strong>To Develop </strong></li>
        Microgrids are still an innovation and we hope to formalize a methodology to deploy those grids all over the world
        <br>
         <li class="padding-top2 text-center"><strong>To Build</strong></li>
        Our final objective is for Microgrids to take over the energy networks all over the world, and for us to help build them
      </ul>
    </p>
  </div>
</div>

<div class="block-divider">
  <h2 id="plateform" class="title text-center padding-top">The plateform</h2>
  <div class="card">
    <p>
      Tournesol Microgrids Plateforrm is an online news and analysis resource for experts of energy and for people who are interested in learning more about this solution.</p>
    <p>
      The main objective of this plateform is not only to concentrate information about Microgrids (advances, projects, and market drivers around the world) but to create a real community of experts of different fields in energy to discuss the different articles and projects of the plateform .
    </p>

    <p>
      The aim is to allow all the different actors that are involved in the production, distribution, storage and consumption to give their specific point of view on the latest news in order to capture the big picture of Microgrids and the challenge they represent.
        We also publish a monthly e-newsletter highlighting the latest news and features.
    </p>
  </div>
</div>

<div class="block-divider">
  <h2 id="plateform" class="title text-center padding-top">The partners</h2>
  <div class="public-partners">
    <div class="container">
      <div class="row card padding-top text-center">
        <div class="col-xs-12 col-sm-4">
          <div>
            <%= image_tag "paris-diderot.jpg", class: "partners-image"%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div>
            <%= image_tag "ticket-for-action.png", class: "partners-image"%>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div>
            <%= image_tag "promethee.jpg", class: "partners-image"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









