<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>



  <div id="banner" class="window-height text-center">
    <div id="animate-home">
      <br><br>
      <h1> Tournesol Microgrids</h1>
      <br>

          <%= link_to "View all articles", articles_path, class: "btn btn-success" %>

    </div>
  </div>

  <div id="features" >
    <h1 class="text-center">About us</h1>


    <p class="img-"></p>
    <%= link_to "Read more", page_path('about') %>
  </div>

