<%= content_for(:title) do %>
  <%= current_user.email %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Your profile</h1>


      <h2>Your personal information</h2>


    </div>
  </div>
</div>
